.group111 {
  height: 62px;
  width: 239px;
  position: relative;
  object-fit: cover;
}
.group111Wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px;
}
.frameChild {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.registros {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
}
.registrosWrapper {
  width: 267px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 15px;
  box-sizing: border-box;
}
.image4 {
  height: 40px;
  width: 40px;
  position: relative;
}
.depth7Frame0,
.nuevoUsuarioText {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nuevoUsuarioText {
  width: 85px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 30.5px;
  flex-direction: column;
  padding: 9.5px 0 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.depth7Frame0 {
  align-self: stretch;
  border-radius: 10px;
  background-color: var(--color-gray-100);
  flex-direction: row;
  padding: 0 var(--padding-xs);
  gap: 0 12px;
}
.depth10Frame0,
.vector0 {
  position: absolute;
  top: 3.7px;
  left: 3.7px;
  width: 32.5px;
  height: 31.3px;
}
.depth10Frame0 {
  top: -934px;
  left: 689px;
  width: 19px;
  height: 19px;
}
.depth9Frame0 {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth8Frame0 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.perfiles {
  position: relative;
  line-height: 21px;
  font-weight: 500;
  white-space: nowrap;
}
.depth9Frame01 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.depth7Frame1,
.depth8Frame1,
.depth9Frame01 {
  display: flex;
  justify-content: flex-start;
}
.depth8Frame1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.depth7Frame1 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 0 161px 0 var(--padding-xs);
  gap: 0 12px;
}
.depth10Frame01,
.vector01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.depth10Frame01 {
  top: -982px;
  left: 689px;
  width: 19px;
  height: 21px;
}
.depth9Frame02 {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth8Frame01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.productos {
  position: relative;
  line-height: 21px;
  font-weight: 500;
  white-space: nowrap;
}
.depth9Frame03 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.depth7Frame2,
.depth8Frame11,
.depth9Frame03 {
  display: flex;
  justify-content: flex-start;
}
.depth8Frame11 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.depth7Frame2 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 0 150.89999999999998px 0 var(--padding-xs);
  gap: 0 12px;
}
.depth10Frame02,
.vector02 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.depth10Frame02 {
  top: -1030px;
  left: 689px;
  width: 22px;
  height: 17px;
}
.depth9Frame04 {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth8Frame02 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.clientes {
  position: relative;
  line-height: 21px;
  font-weight: 500;
  white-space: nowrap;
}
.depth9Frame05 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.depth7Frame3,
.depth8Frame12,
.depth9Frame05 {
  display: flex;
  justify-content: flex-start;
}
.depth8Frame12 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.depth7Frame3 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 0 164.5px 0 var(--padding-xs);
  gap: 0 12px;
}
.depth10Frame03,
.vector03 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.depth10Frame03 {
  top: -1078px;
  left: 689px;
  width: 22px;
  height: 16px;
}
.depth9Frame06 {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth8Frame03 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.servicios {
  position: relative;
  line-height: 21px;
  font-weight: 500;
  white-space: nowrap;
}
.depth9Frame07 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.depth7Frame4,
.depth8Frame13,
.depth9Frame07 {
  display: flex;
  justify-content: flex-start;
}
.depth8Frame13 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.depth7Frame4 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 0 153px 0 var(--padding-xs);
  gap: 0 12px;
}
.depth10Frame04,
.vector04 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.depth10Frame04 {
  top: -1126px;
  left: 689px;
  width: 19px;
  height: 20px;
}
.depth9Frame08 {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth8Frame04 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cotizaciones {
  position: relative;
  line-height: 21px;
  font-weight: 500;
  white-space: nowrap;
}
.depth9Frame09 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.depth7Frame5,
.depth8Frame14,
.depth9Frame09 {
  display: flex;
  justify-content: flex-start;
}
.depth8Frame14 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.depth7Frame5 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 0 163px 0 var(--padding-xs);
  gap: 0 12px;
}
.depth10Frame05,
.vector05 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.depth10Frame05 {
  top: -1174px;
  left: 689px;
  width: 16px;
  height: 20px;
}
.depth9Frame010 {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth8Frame05 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.facturas {
  position: relative;
  line-height: 21px;
  font-weight: 500;
  white-space: nowrap;
}
.depth9Frame011 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.depth7Frame6,
.depth8Frame15,
.depth9Frame011 {
  display: flex;
  justify-content: flex-start;
}
.depth8Frame15 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.depth7Frame6 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 0 155.79999999999995px 0 var(--padding-xs);
  gap: 0 12px;
}
.depth10Frame06,
.vector06 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.depth10Frame06 {
  top: -1222px;
  left: 689px;
  width: 16px;
  height: 20px;
}
.depth9Frame012 {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth8Frame06 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cuentasPorCobrar {
  position: relative;
  line-height: 21px;
  font-weight: 500;
  white-space: nowrap;
}
.depth9Frame013 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.depth7Frame7,
.depth8Frame16,
.depth9Frame013 {
  display: flex;
  justify-content: flex-start;
}
.depth8Frame16 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.depth7Frame7 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 0 70.89999999999998px 0 var(--padding-xs);
  gap: 0 12px;
}
.depth5Frame0,
.depth6Frame1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth6Frame1 {
  flex-direction: column;
  gap: 8px 0;
}
.depth5Frame0 {
  flex-direction: row;
  padding: 0 0 var(--padding-base);
}
.depth5Frame1 {
  height: 56px;
  width: 275px;
  margin: 0 !important;
  position: absolute;
  bottom: -55px;
  left: calc(50% - 137.5px);
}
.depth3Frame0,
.depth4Frame0 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth4Frame0 {
  flex: 1;
  background-color: var(--color-white);
  padding: var(--padding-base) var(--padding-base) var(--padding-12xs);
  position: relative;
}
.depth3Frame0 {
  align-self: stretch;
  padding: 0 0 var(--padding-lg);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.frameIcon,
.men {
  position: absolute;
}
.men {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 25px 6px 0 0;
  box-sizing: border-box;
}
.frameIcon {
  top: 102px;
  left: 28px;
  width: 40px;
  height: 40px;
  z-index: 1;
}
.menu {
  align-self: stretch;
  height: 497px;
  position: relative;
}
.nuevoUsuario {
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 21px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.nuevoUsuarioWrapper {
  cursor: pointer;
  border: 0;
  padding: 29.5px 32px;
  background-color: #1a80e5;
  border-radius: 30px;
  flex-direction: row;
  white-space: nowrap;
}
.nuevoUsuarioWrapper:hover {
  background-color: #39f;
}
.frameWrapper,
.menuParent,
.nuevoUsuarioWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  flex-direction: row;
  padding: 0 17px;
}
.menuParent {
  width: 313px;
  flex-direction: column;
  gap: 280px 0;
}
.manejarUsuariosEn,
.usuarios1 {
  margin: 0;
  position: relative;
  font-family: inherit;
}
.usuarios1 {
  width: 222px;
  height: 49px;
  font-size: inherit;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.manejarUsuariosEn {
  align-self: stretch;
  font-size: 28px;
  font-weight: 400;
  color: var(--color-gray-100);
}
.usuariosParent {
  width: 438px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.4px 0;
  max-width: 100%;
}
.depth8Frame07,
.vector07 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
.depth8Frame07 {
  top: -932px;
  left: 351px;
  width: 19px;
  height: 20px;
}
.depth7Frame01 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth6Frame0,
.depth6Frame11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth6Frame11 {
  width: calc(100% - 224px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 24px;
  flex: 1;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  color: #637587;
  min-width: 300px;
  max-width: 100%;
}
.depth5Frame01,
.frameItem {
  box-sizing: border-box;
  max-width: 100%;
}
.depth5Frame01 {
  align-self: stretch;
  border-radius: 12px;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg) 184px var(--padding-lg) var(--padding-base);
  gap: 0 12px;
}
.frameItem {
  height: 643px;
  width: 1057px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  display: none;
}
.bernardoBaez,
.nombres {
  position: relative;
  z-index: 1;
}
.nombres {
  width: 89px;
  display: inline-block;
}
.bernardoBaez {
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  text-align: left;
  white-space: nowrap;
}
.nombresParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px 0;
}
.alejandroBeltre {
  position: relative;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  text-align: left;
  z-index: 1;
}
.frameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 46px 0;
}
.correosElectrnicos {
  width: 206px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.bernardobaezgmailcom {
  position: relative;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  z-index: 1;
}
.emailAddresses {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px 0;
}
.alejandrobeltegmailcom {
  position: relative;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.emailAddressesParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 46px 0;
  min-width: 146px;
}
.roles1 {
  position: relative;
  z-index: 1;
}
.usersAdmin {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3px;
}
.admin {
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.adminWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) 33px;
  background-color: var(--color-dimgray-200);
  align-self: stretch;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.adminWrapper:hover,
.eliminarframe:hover,
.usuarioWrapper:hover {
  background-color: var(--color-dimgray-100);
}
.usuario {
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.usuarioWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) 27px;
  background-color: var(--color-dimgray-200);
  align-self: stretch;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.editDelete {
  align-self: stretch;
  flex-direction: column;
  gap: 26px 0;
}
.alejandroBeltre1,
.editDelete,
.roles {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.roles {
  width: 120px;
  flex-direction: column;
  gap: 20px 0;
  min-width: 120px;
  text-align: left;
}
.alejandroBeltre1 {
  flex: 1;
  flex-direction: row;
  gap: 0 47px;
  min-width: 255px;
  max-width: 100%;
}
.acciones,
.ltimaVezActivo {
  position: relative;
  z-index: 1;
}
.ltimaVezActivo {
  flex: 1;
  display: inline-block;
  min-width: 109px;
}
.acciones {
  width: 117px;
  display: flex;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
}
.olderActivity {
  width: 323px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 38px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.hace1Semana {
  position: relative;
  z-index: 1;
}
.hacesemana {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11px 0 0;
}
.editar {
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.eliminarframe {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm-5) var(--padding-xl-5);
  background-color: var(--color-dimgray-200);
  flex: 0.7463;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.eliminar {
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.eliminarframe1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm-5) var(--padding-xs);
  background-color: var(--color-red-200);
  flex: 1;
  border-radius: var(--br-xl);
  justify-content: flex-start;
  z-index: 1;
}
.eliminarframe1:hover {
  background-color: var(--color-red-100);
}
.actionsframe,
.editframe,
.eliminarframe1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.editframe {
  width: 189px;
  justify-content: flex-start;
  gap: 0 7px;
}
.actionsframe {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.hace1Ao {
  position: relative;
  z-index: 1;
}
.line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px 0 0;
}
.editar1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.roles2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm-5) var(--padding-xl-5);
  background-color: var(--color-dimgray-200);
  flex: 0.5495;
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.roles2:hover {
  background-color: var(--color-dimgray-100);
}
.eliminar2 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.eliminar1,
.nombres1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nombres1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm-5) var(--padding-xs);
  background-color: var(--color-red-200);
  align-self: stretch;
  border-radius: var(--br-xl);
  flex-direction: row;
  z-index: 1;
}
.nombres1:hover {
  background-color: var(--color-red-100);
}
.eliminar1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.correoselectrnicos {
  width: 189px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 7px;
}
.correoselectrnicos,
.lastWeek,
.lastvisited {
  display: flex;
  align-items: flex-start;
}
.lastvisited {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.lastWeek {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px 0;
  min-width: 257px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-lg) var(--padding-lg) 467px 39px;
  gap: 0 37.5px;
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.frameGroup,
.frameParent,
.lineParent,
.rectangleParent,
.usuariosText {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  align-self: stretch;
  flex-direction: column;
  gap: 14px 0;
  max-width: 100%;
}
.frameParent,
.lineParent,
.usuariosText {
  box-sizing: border-box;
}
.usuariosText {
  flex: 1;
  flex-direction: column;
  padding: 30.299999999999955px 0 0;
  max-width: calc(100% - 350px);
}
.frameParent,
.lineParent {
  max-width: 100%;
}
.frameParent {
  width: 1427px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  gap: 0 37px;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.lineParent {
  align-self: stretch;
  flex-direction: column;
  padding: 0;
}
.alejandrobeltegmailcom1 {
  width: 1px;
  height: 879px;
  position: absolute;
  margin: 0 !important;
  bottom: 48px;
  left: 313px;
  border-right: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  z-index: 1;
}
.negocia2024 {
  width: 209px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.negocia2024Wrapper,
.usuarios {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.negocia2024Wrapper {
  align-self: stretch;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: row;
  padding: var(--padding-3xs);
  text-align: left;
  font-size: 24px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.usuarios {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
  gap: 22px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .depth5Frame01 {
    padding-right: 92px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1000px) {
  .registros {
    font-size: var(--font-size-21xl);
  }
  .menuParent {
    display: none;
  }
  .usuarios1 {
    font-size: var(--font-size-21xl);
  }
  .usuariosText {
    max-width: 100%;
  }
  .frameParent {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .depth5Frame01 {
    padding-right: 46px;
    box-sizing: border-box;
  }
  .rectangleParent {
    gap: 0 19px;
    padding-top: var(--padding-xl);
    padding-bottom: 304px;
    box-sizing: border-box;
  }
  .frameParent {
    gap: 0 18px;
  }
}
@media screen and (max-width: 450px) {
  .registros {
    font-size: var(--font-size-11xl);
  }
  .perfiles {
    font-size: var(--font-size-base);
    line-height: 17px;
  }
  .depth7Frame1 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .productos {
    font-size: var(--font-size-base);
    line-height: 17px;
  }
  .depth7Frame2 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .clientes {
    font-size: var(--font-size-base);
    line-height: 17px;
  }
  .depth7Frame3 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .servicios {
    font-size: var(--font-size-base);
    line-height: 17px;
  }
  .depth7Frame4 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .cotizaciones {
    font-size: var(--font-size-base);
    line-height: 17px;
  }
  .depth7Frame5 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .facturas {
    font-size: var(--font-size-base);
    line-height: 17px;
  }
  .depth7Frame6 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .cuentasPorCobrar {
    font-size: var(--font-size-base);
    line-height: 17px;
  }
  .depth7Frame7 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .menuParent {
    gap: 140px 0;
  }
  .usuarios1 {
    font-size: var(--font-size-11xl);
  }
  .manejarUsuariosEn {
    font-size: 22px;
  }
  .depth5Frame01 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .correosElectrnicos,
  .nombres,
  .roles1 {
    font-size: var(--font-size-base);
  }
  .roles {
    flex: 1;
  }
  .alejandroBeltre1 {
    flex-wrap: wrap;
    gap: 0 23px;
  }
  .acciones,
  .ltimaVezActivo {
    font-size: var(--font-size-base);
  }
  .olderActivity {
    flex-wrap: wrap;
    gap: 0 19px;
  }
  .actionsframe,
  .lastvisited {
    flex-wrap: wrap;
  }
  .negocia2024 {
    font-size: 19px;
  }
}
