@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	width: 80%;
	margin: 30px 10%;
}

.field {
    position: relative;
    margin-bottom: 0px;
  }
  
  .field label::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 40px;
    font-size: 14px;
    color: #777;
    transition: 300ms all;
  }
  
  .field input {
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .field input:focus {
    outline: 0;
    border-color: blue;
  }
  
  .field input:valid + label::before {
    line-height: 20px;
    font-size: 12px;
    top: -10px;
    background: #fff;
    padding: 0 6px;
    left: 9px;
    content: attr(data-title);
  }
  
  .field input:focus + label::before {
    line-height: 20px;
    font-size: 12px;
    top: -10px;
    background: #fff;
    padding: 0 6px;
    left: 9px;
    color: blue;
  }
  
  form {
    -webkit-box-shadow: 0px 0px 8px -4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 8px -4px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 8px -4px rgba(66, 68, 90, 1);
  }

  .custom-checkbox-border {
    border: 1px solid white; /* Set your desired color here */
  }

  .register-smth{
    @apply flex flex-col gap-y-5
  }
  
  .register-smth input{
    @apply bg-slate-100 py-2 px-5 rounded-md w-[30em] mt-2
  }

  .register-smth select{
    @apply px-4 w-[30em] py-2 rounded-lg
  }
  
  .available{
    @apply border-2 border-green-500 outline-none
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fadeIn {
    animation: fadeIn 0.3s ease-in-out;
  }
  