.negociaImage {
    position: relative;
    width: 239px;
    height: 62px;
    object-fit: cover;
  }
  
  .dividerHorizontal {
    width: 100%;
    height: 1px;
    background-color: gray solid;
  }
  
  .left-menu {
    width: 313px;
    height: 497px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: gray solid;
    border: gray solid;
    top: 86px;
    left: 0px;
  }
  
  .title {
    left: 15px;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .usuariosImage {
    position: absolute;
    top: 5px;
    left: 10px;
    object-fit: cover;
  }
  
  .usuariosText {
    position: absolute;
    top: 7px;
    left: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .depthFrameUsuarios{
    background-color: transparent;
    position: absolute;
    width: 275px;
    height: 40px;
    top: 138px;
    left: 15px;
    margin-left: auto;
    border-radius: 10px;
  }
  
  .perfilesImage {
    position: absolute;
    top: 2px;
    left: 10px;
    object-fit: cover;
  }
  
  .perfilesText {
    position: absolute;
    top: 7px;
    left: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .depthFramePerfiles{
    background-color: transparent;
    position: absolute;
    width: 275px;
    height: 40px;
    top: 180px;
    left: 15px;
    margin-left: auto;
    border-radius: 10px;
  }
  
  .productosImage {
    position: absolute;
    top: 2px;
    left: 10px;
    object-fit: cover;
  }
  
  .productosText {
    position: absolute;
    top: 7px;
    left: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
  }
  
  .depthFrameProductos{
    background-color: #808080;
    position: absolute;
    width: 275px;
    height: 40px;
    top: 220px;
    left: 15px;
    margin-left: auto;
    border-radius: 10px;
  }
  
  .clientesImage {
    position: absolute;
    top: 2px;
    left: 10px;
    object-fit: cover;
  }
  
  .clientesText {
    position: absolute;
    top: 7px;
    left: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .depthFrameClientes{
    background-color: transparent;
    position: absolute;
    width: 275px;
    height: 40px;
    top: 265px;
    left: 15px;
    margin-left: auto;
    border-radius: 10px;
  }
  
  .serviciosImage {
    position: absolute;
    top: 2px;
    left: 10px;
    object-fit: cover;
  }
  
  .serviciosText {
    position: absolute;
    top: 7px;
    left: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .depthFrameServicios{
    background-color: transparent;
    position: absolute;
    width: 275px;
    height: 40px;
    top: 305px;
    left: 15px;
    margin-left: auto;
    border-radius: 10px;
  }
  
  .cotizacionesImage {
    position: absolute;
    top: 2px;
    left: 10px;
    object-fit: cover;
  }
  
  .cotizacionesText {
    position: absolute;
    top: 7px;
    left: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .depthFrameCotizaciones{
    background-color: transparent;
    position: absolute;
    width: 275px;
    height: 40px;
    top: 345px;
    left: 15px;
    margin-left: auto;
    border-radius: 10px;
  }
  
  .facturasImage {
    position: absolute;
    top: 2px;
    left: 10px;
    object-fit: cover;
  }
  
  .facturasText {
    position: absolute;
    top: 7px;
    left: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .depthFrameFacturas{
    background-color: transparent;
    position: absolute;
    width: 275px;
    height: 40px;
    top: 390px;
    left: 16px;
    margin-left: auto;
    border-radius: 10px;
  }
  
  .cuentasPorCobrarImage {
    position: absolute;
    top: 2px;
    left: 10px;
    object-fit: cover;
  }
  
  .cuentasPorCobrarText {
    position: absolute;
    top: 7px;
    left: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .depthFrameCuentasPorCobrar{
    background-color: transparent;
    position: absolute;
    width: 275px;
    height: 40px;
    top: 438px;
    left: 16px;
    margin-left: auto;
    border-radius: 10px;
  }
  
  .dividerVertical {
    position: absolute;
    left: 313px;
    width: 1px;
    height: 837px;
    background-color: gray solid;
  }
  
  .footerImage {
    position: absolute;
    top: 900px;
  }
  
  .titleRightView {
    left: 350px;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .subtitleRightView {
    left: 352px;
    top: 105px;
    font-size: 30px;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #808080;
  }
  
  .searchUserBox {
    left: 350px;
    top: 150px;
    position: absolute;
    background-color: #f0f2f5;
    border-radius: 10px;
    width: 921px; /* Adjust width based on your design */
    height: 40px; /* Adjust height based on your design */
    display: flex;
    align-items: center;
  }
  
  .searchIcon {
    margin-left: 10px;
  }
  
  .searchBar {
    margin-left: 10px;
    width: 921px;
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  .userCrud {
    border: 1px solid #808080;
    position: absolute;
    top: 200px;
    left: 350px;
    width: 921px;
    height: flex;
    border-radius: 10px;
    border-collapse:separate;
    border-radius:6px;
  }
  
  .editButton {
    background-color: #4C4C4C;
    border-radius: 20px;
    padding: 4px;
    color: white;
  }
  
  .deleteButton {
    background-color: #FF0000;
    border-radius: 20px;
    padding: 4px;
    color: white;
    margin-left: 4px;
  }
  
  .userCrud th {
    text-align: left;
  }
  
  .textosTables{
    color: #808080;
  }
  
  .verticalDividerTable {
    position: absolute;
    top: 226px;
    left: 350px;
    height: 1px;
    width: 921px;
    background-color: #808080;
  }
  
  .addUserButton{
    color: white;
    background-color: #1A80E5;
    border-radius: 30px;
    font-size: 30px;
    padding: 10px;
    position: absolute;
    top: 825px;
    left: 17px;
  }
  
  .usuariosText:hover {
    color: #1A80E5;
    text-decoration: underline;
  }
  
  .perfilesText:hover {
    color: #1A80E5;
    text-decoration: underline;
  }
  
  .clientesText:hover {
    color: #1A80E5;
    text-decoration: underline;
  }
  
    .serviciosText:hover {
        color: #1A80E5;
        text-decoration: underline;
    }
  
  .cotizacionesText:hover {
    color: #1A80E5;
    text-decoration: underline;
  }
  
  .facturasText:hover {
    color: #1A80E5;
    text-decoration: underline;
  }
  
  .cuentasPorCobrarText:hover {
    color: #1A80E5;
    text-decoration: underline;
  }

.nombreProducto {
    position: absolute;
    top: 120px;
    left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inputNombreProducto {
    position: absolute;
    top: 150px;
    left: 350px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #808080;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cantidadStock{
    position: absolute;
    top: 200px;
    left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inputCantidadStock {
    position: absolute;
    top: 230px;
    left: 350px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #808080;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tipoProducto{
    position: absolute;
    top: 280px;
    left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdown {
    position: absolute;
    top: 310px;
    left: 350px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #808080;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.precioProducto{
    position: absolute;
    top: 360px;
    left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inputPrecioProducto{
    position: absolute;
    top: 390px;
    left: 350px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #808080;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.proveedorProducto {
    position: absolute;
    top: 440px;
    left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inputProveedorProducto {
    position: absolute;
    top: 470px;
    left: 350px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #808080;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.botonCancelar{
    position: absolute;
    top: 840px;
    left: 930px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #FF0000;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.botonGuardarCambios {
    position: absolute;
    top: 840px;
    left: 1100px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #1A80E5;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imagenProducto {
    position: absolute;
    top: 520px;
    left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inputImagenProducto {
    position: absolute;
    top: 550px;
    left: 350px;
    width: 400px;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
